<div class="container text-center mt-5">
    <h1 class="mb-4">Bienvenido a la Plataforma de Notas</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-body">
            <h2 class="card-title">Gestión de Notas</h2>
            <p class="card-text">Elige una de las siguientes opciones para comenzar.</p>
            <div class="d-flex justify-content-around">
              <button class="btn btn-lg btn-success"  routerLink="/cargar-notas">Cargar Notas</button>
              <button class="btn btn-lg btn-info" routerLink="/ver-notas">Ver Notas</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  