<!-- <p>cargar-notas works!</p> -->


<div class="container">

    <div class="alert alert-primary" role="alert">
        Cargar Notas:
    </div>

    <form [formGroup]="formularioCargaNotas">

        <div class="form-group">
            <label for="materia">Seleccionar Materia</label>
            <select class="form-control" id="materia" formControlName="materia">
                <option>Lengua</option>

            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Seleccionar Alumno</label>
            <select class="form-control" id="exampleFormControlSelect1" formControlName="alumno">
                <option>Lautaro</option>

            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputNota">Nota</label>
            <input type="number" class="form-control" id="exampleInputNota" aria-describedby="emailHelp"
                placeholder="Ingrese nota" formControlName="nota">
            <small id="emailHelp" class="form-text text-muted">Debe ser mayor a 1</small>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="esNotaVacia"> 
            Este campo no puede quedar vacío!
          </div>


        <button type="button" class="btn btn-success" (click)="mostrarDatosFormulario()" >Cargar</button>

    </form>

</div>


