<!-- <p>cargar-notas works!</p> -->


<div class="container"> 

    <div class="alert alert-primary" role="alert">
        Cargar Notas:
      </div>

    <form>

        <div class="form-group">
            <label for="materia">Seleccionar Materia</label>
            <select class="form-control" id="materia">
                <option>Lengua</option>
                <option>Quimica</option>
                <option>bla</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleFormControlSelect1">Seleccionar Alumno</label>
            <select class="form-control" id="exampleFormControlSelect1">
                <option>Lautaro</option>
                <option>Flor</option>
                <option>bla</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleInputNota">Nota</label>
            <input type="number" class="form-control" id="exampleInputNota" aria-describedby="emailHelp"
                placeholder="Ingrese nota" [formControl]= "nota">
            <small id="emailHelp" class="form-text text-muted">Debe ser mayor a 1</small>
        </div>

        <button type="button" class="btn btn-success" (click)="mostrarNota()">Success</button>


    </form>

</div>