<div class="container">
    <p>ver-notas works!</p>
    <div class="row">
        <div class="col-md-8">
            <form>

                <div class="form-group">
                    <label for="exampleFormControlSelect1">Seleccionar Materia</label>
                    <select class="form-control" id="exampleFormControlSelect1" [formControl]="materia">
                        <option disabled selected value="">Selecciona una materia</option>
                        <option *ngFor="let nombremateria of materias">{{nombremateria}}</option>
        
                    </select>
                </div>

            </form>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success" (click)="mostrarDatosFormulario()">Filtrar</button>

        </div>
    </div>

    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Nota 1</th>
                <th scope="col">Nota 2</th>
                <th scope="col">Nota Promedio</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let alumno of alumnos">
                <th scope="row">{{alumno.id}}</th>
                <td>{{alumno.nombre}}</td>
                <td>{{alumno.apellido}}</td>
                <td>{{alumno.notas[0].calificacion}}</td>
                <td>{{alumno.notas[1].calificacion}}</td>
                <td>{{(alumno.notas[0].calificacion + alumno.notas[1].calificacion)/2}}</td>

            </tr>

        </tbody>
    </table>
</div>